<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464109168496-1v5uq5k1quqrb5ndqatiai6op395nidt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464109168496-1v5uq5k1quqrb5ndqatiai6op395nidt</string>
	<key>API_KEY</key>
	<string>AIzaSyB_buV0nSfP-iZ0E5Z6bZfKeUk52UhBqpo</string>
	<key>GCM_SENDER_ID</key>
	<string>464109168496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramysabry1996.Groom---Bride</string>
	<key>PROJECT_ID</key>
	<string>groom-and-bride-app</string>
	<key>STORAGE_BUCKET</key>
	<string>groom-and-bride-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464109168496:ios:8753e05c635ab8cd</string>
	<key>DATABASE_URL</key>
	<string>https://groom-and-bride-app.firebaseio.com</string>
</dict>
</plist>